.row.expanded {
    max-width: none;
}

.building-block-iframe-wrapper {
    position: relative;
    min-height: 480px;
    overflow-y: scroll;
}

.column.row.row, .row.row.columns {
     display: flex;
}
.container-padded {
    padding: 1rem 0;
}

.align-center {
    justify-content: center;
}

.medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.column, .columns {
     min-width: initial;
}

.row {
     margin-right: auto;
     margin-left: auto;
     display: flex;
     flex-flow: row wrap;
}

