<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Taburno Rock</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
 
<body>
<div class="hero-full-screen">

  <div class="top-content-section">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
            <ul class="menu">
              {% if not session.logged_in %}
               <li><a href="/login">Login</a></li>
              {% else %}
               <li><a href="/logout">Logout</a></li>
              {% endif %}
            </ul>
      </div>
    </div>
  </div>



  <div class="middle-content-section">
    <h1>Taburno Rock</h1>
    <a class="button large" href="/load">Upload a files</a>
    <a class="button large" href="/view">View list of files</a>
    <a class="button large" href="/chatapp">ChatBot</a>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
              <footer class="footer">
            <p>&copy; Sabino 2019</p>
        </footer>
  </div>
 </div>
</body>
</html>
