<!DOCTYPE html>
<html lang="en">

<head>
    <title>Taburno Rock</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/view.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
  <div class="row column medium-6 align-center container-padded">
  <div class="column medium-6 align-center container-padded">
  <form action="/handler" method="post" name="file_list">

   <ul class="list-group">

	{% for i in fileslist %}
		   {% if path != '' %}
		   {% set i = path+'/'+i %}
		   {% endif %}
           {% set i = i.decode('utf-8') %}
                    <li class="list-group-item">
                       <input id={{i}} type="checkbox" name="files_to_use" value="{{i}}" />
                       <label for={{i}}>{{i}}</label>
                   </li>
       {% endfor %}
   </ul>
<button class="button" name="toolbut" value="encrypt">Encrypt</button>
<button class='button' name="toolbut" value="download">Download</button>
<button class="button" name="toolbut" value="decrypt">Decrypt</button>
<button class="button" name="toolbut" value="delete" type="submit" onclick="return confirm('Are you sure?')">Delete</button>

</form>
<button class="button button-rounded-hover"  onclick="window.location='/';">Go Back</button>

</div>

</div>
</body>
</html>
